.jumbotron{
  background-color: #E53935;
  color:#424242;
}

#btn{
  background-color: #E53935;
  color:#424242;
  padding: 15px 25px;
  border:none;
  font-weight: bold;
}
.well{
  background-color:#EF9A9A;
}
#person1roll{
  border:none;
  padding:15px 25px;
  background-color:#689F38;
  color:#424242;
}
#person1hold{
  border:none;
  padding:15px 25px;
  background-color:#689F38;
  color:#424242;
  margin-left:80px;
  margin-right: 40px;
}
#person2roll{
  border:none;
  padding:15px 25px;
  background-color:#689F38;
  color:#424242;
}
#person2hold{
  border:none;
  padding:15px 25px;
  background-color:#689F38;
  color:#424242;
  margin-left:80px;
  margin-right: 40px;
}
.container-2{
   display: none;
}
b{
  font-size: 18px;
  font-weight: bold;
}
body{
  background-image: url(../img/big.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
